#mykolai {
    width: 500px;
    height: 575px;
}

.fh5co-bg-section {
    color: white;
    text-align: center;
}

.container {
    padding: 30px 0 70px 0;
}

.convert {
    background-image: url("/convert.jpg") ;
}